* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_six{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background: #FAFAFA;
    text-align: center;
    padding: 57px 180px 82px 180px; 
}
.section_six h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.logotypes{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:720px) {
    .section_six{
        max-width: 520px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 57px 20px;
   
    }
    .section_six h1 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 37px;
        color: #333333;
        background: #FAFAFA;
    }

    .logotypes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        column-gap: 20px;
    }
    
}